  .card {
    padding: 10px;
    margin-bottom: 20px;
  }

  .image-card, .image-card img {
    width: 100%;
    position: relative;
  }
   
  .category {
    position: absolute;
    bottom: -9px;
    right: 0px;
    z-index: 1000;
    background-color: #db0303;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-weight: 800;
    cursor: pointer;
  }

  .body-card {
    margin-top: 20px;
  }

  .body-card h1, .body-card p {
    text-align: end;
    margin-bottom: 10px;
  }

  .body-card p {
    color: #777777;
  }

  .swiper-pagination.swiper-pagination-bullets{
    background-image: linear-gradient(to right, #6d2f8f, #7b308f, #89328f, #96348f, #a2378e);
    display: block;
    top: 0;
    padding: 5px;
    height: 20px;
    position: absolute;
  }
  .swiper-pagination-bullet-active {
      background: white;
  }